[submodule "active_storage_demo"]
	path = active_storage_demo
	url = ./active_storage_demo
[submodule "propshaft_test"]
	path = propshaft_test
	url = ./propshaft_test/
[submodule "normalize_examples"]
	path = normalize_examples
	url = ./normalize_examples/
[submodule "api_rate_limiter"]
	path = api_rate_limiter
	url = ./api_rate_limiter/
[submodule "stimulus-starter"]
	path = stimulus-starter
	url = ./stimulus-starter/
[submodule "sidekiq_to_solidqueue"]
	path = sidekiq_to_solidqueue
	url = ./sidekiq_to_solidqueue/
[submodule "turbo_view_transitions"]
	path = turbo_view_transitions
	url = ./turbo_view_transitions/
[submodule "turbo_view_transitions_demo"]
	path = turbo_view_transitions_demo
	url = ./turbo_view_transitions_demo/
[submodule "enum_test_app"]
	path = enum_test_app
	url = ./enum_test_app/
[submodule "caller_demo"]
	path = caller_demo
	url = ./caller_demo/
[submodule "pin_comment_app"]
	path = pin_comment_app
	url = ./pin_comment_app/
[submodule "date_demo"]
	path = date_demo
	url = ./date_demo/
[submodule "hotwire_course"]
	path = hotwire_course
	url = ./hotwire_course/
[submodule "hotwire_todo_list"]
	path = hotwire_todo_list
	url = ./hotwire_todo_list/
[submodule "pry_debugging_demo"]
	path = pry_debugging_demo
	url = ./pry_debugging_demo/
[submodule "test_auth"]
	path = test_auth
	url = ./test_auth/
[submodule "copy-clipboard-demo"]
	path = copy-clipboard-demo
	url = ./copy-clipboard-demo/
[submodule "show-password-demo"]
	path = show-password-demo
	url = ./show-password-demo/
[submodule "auto-submit-demo"]
	path = auto-submit-demo
	url = ./auto-submit-demo/
[submodule "auto_submit_demo"]
	path = auto_submit_demo
	url = ./auto_submit_demo/
